// main: main.styl, out: ../../public/css/framework-base.css
*
  margin 0
  padding 0
  box-sizing border-box
  outline none

html,
body
  background-color white
  font-family "Source Sans Variable",Arial,sans-serif
  font-size 21px
  color #333

button
  -moz-appearance none
  -webkit-appearance none
  appearance none
  border none
  background-color transparent
  cursor pointer

ul
  list-style none

img
  max-width 100%
  &.aspect-ratio
    width 100%
    height 100%
    object-fit contain

video
  width 100%

a
  text-decoration none
  &:hover
    text-decoration underline

table
  border-spacing 0
  border-bottom 1px solid #dfe2e5
  border-right 1px solid #dfe2e5
  @media screen and (max-width: 1023px)
    width 100%
  thead
    border-bottom 2px solid #dfe2e5
  tbody
    tr
      &:nth-child(odd)
        background-color #f6f8fa
      &:nth-child(even)
        background-color white
  th
    border bottom 1px solid
  td
  th
    padding 6px 12px
    font-weight 400
    font-size 80%
    border 1px solid #dfe2e5
    border-bottom 0
    border-right 0

h1
  margin-bottom 1rem
  text-align center
  line-height 3rem
  font-size 3rem
  font-family 'Montserrat', sans-serif
  font-weight 400
h2
  font-size 1.6rem
  line-height 1.6rem
  margin-top 1rem * 3.50
  margin-bottom 1rem * 0.75
h3
  margin-top 1rem * 2.50
  margin-bottom 1rem * 0.50
  font-size 1.2rem
  line-height 1.2rem
p
  margin-bottom 1rem * 0.25
  line-height 32px
  &:last-child
    margin-bottom 0

.a11y,
.hidden
  display none

.hidden-xs
  @media screen and (max-width: 1023px)
    display none

.container
  width 90%
  max-width 680px
  margin 0 auto
