nav
  a.nav-btn(href="/") Home
  a.nav-btn.hidden-xs(href="/articles") Articles
  a.nav-btn.hidden-xs(href="/why") Why
  a.nav-btn.hidden-xs(href="https://pieroblunda.github.io/" target="_blank") About
  //-
    button.nav-btn.hidden-xs(onclick="changeViewTo('detailView')") Conferences
    button.nav-btn.hidden-xs(onclick="changeViewTo('detailView')") Reports & Books
    button.nav-btn.hidden-xs(onclick="changeViewTo('detailView')") Popular Topics
    button.nav-btn.hidden-xs(onclick="changeViewTo('listView')") Consulting
