h1 Why the blog

p I decided to start blogging because I think it is an exelent way to learn continiusly. I love reading and analyze that I have just learning.

p In addition, sharing my knowleadge with the entire world let me read opinions from other people and know how people think different. Maybe, I can change my opinion about something or maybe get more convince of my own.

p I read a lot of technical blogs where people share a code gist, and many other blogs about the agile main concept, but in my opinion, it is difficult to anwer the question: How it affetc me? Tipical agile blogs are are not focused in the entire software development process and their do not show good examples to help people to implement agile process.

p The sense of this blog is try to tell people how I improved the customer satisfaction by understanding that the software development process is in a fact a business and there are business rules that any person inside a software development team should be know.
