footer
  section(data-section-name="legal-info" aria-label="Accessibility placeholder")
    ul
      li 2020 - Bologna, Italy
      li
        a(href="/about") About Us
      li
        a(href="/why") Why the blog
      li Privacy
